                        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
                    body {
                        margin: 0;
                        padding: 0;
                        box-sizing: border-box;
                        overflow-x: hidden;
                        font-family: 'Poppins', sans-serif;
                    }
                    
                    .hero-text {
                        color: white;
                    }
                    
                    .about {
                        text-align: center;
                    }
                    
                    .services-text {
                        color: white;
                    }
                    
                    .portfolio {
                        padding-bottom: 50px;
                    }
                    
                    .portfolioimg {
                        float: right;
                        position: relative;
                        margin: 5px;
                    }
                    
                    .name {
                        margin-right: 5px;
                    }
                    
                    .email {
                        margin-right: 5px;